/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html,
body { height: 100% }

body {
  display: table;
  width: 100%;
  font-family: 'tk-source-sans-pro', 'Raleway', Helvetica, sans-serif;
  font-size: 16px;
}

.alert {
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  background-image: url('Wallpaper_39.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  color: white;
  font-family: sans-serif;
  text-shadow: black 0.3em 0.3em 0.3em;
  text-align: center;
  h1 {
    margin-top: -10px;
  }
}

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weigth: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #019285;
}

.center {
  text-align: center;
}

/* use for 5th and 9th listings to get them on the left side of the page */
.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  
  h3 {font-size: 45px; margin-top: 0px;}
  h5 {font-size: 25px;}
  p {font-size: 18px;}
}

.caption {
  h3 {
    font-size: 22px;
    margin: 2px;
    text-decoration: none;
    color: black;
  }
  h3:hover {
    font-size: 25px;
    text-decoration: none;
  }
  p{
    font-size: 12px;
    margin: 0px;
  }
}

/* INDEX PAGE
=================================== */


/* MEDIA QUERIES
==================================== */


